@{
}

@model BooksViewModel


@foreach (Book b in Model.Books)
{
    
    <br />
    <div class="list-group-item">
        <h4>@b.Title</h4>
        <ul>
            <li>Author: @b.Author</li>
            <li>Publisher: @b.Publisher</li>
            <li>ISBN: @b.Isbn</li>
            <li>Classification: @b.Classification</li>
            <li>Category: @b.Category</li>
            <li>PageCount: @b.PageCount</li>
            <li>Price: @b.Price</li>
        </ul>
    </div>
    <br />
    <br />
}

<div class="button" page-change="@Model.PageInfo" page-action="Index"></div>