@{
    ViewBag.Calc = 20 / 5;
}

@model IQueryable<Book>

<h1>@ViewBag.Calc</h1>

@foreach (Book b in Model)
{
    <li>@b.Title</li>
    <li>@b.Author</li>
    <li>@b.Publisher</li>
    <li>@b.Isbn</li>
    <li>@b.Classification</li>
    <li>@b.Category</li>
    <li>@b.PageCount</li>
    <li>@b.Price</li>
    <br />
}

<a asp-action="Index" asp-route-pageNum="1">1</a>
<a asp-action="Index" asp-route-pageNum="2">2</a> 
<a asp-action="Index" asp-route-pageNum="3">3</a>
