@{
}

@model BooksViewModel


@foreach (Book b in Model.Books)
{
    <li>@b.Title</li>
    <li>@b.Author</li>
    <li>@b.Publisher</li>
    <li>@b.Isbn</li>
    <li>@b.Classification</li>
    <li>@b.Category</li>
    <li>@b.PageCount</li>
    <li>@b.Price</li>
    <br />
}

<div page-change="@Model.PageInfo" page-action="Index"></div>